<!DOCTYPE html>
<html>

  <head>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <title>Text Assembler</title>
    <div class="page-header col-md-12">
      <h2>Text Assembler</h2>
    </div>
  </head>

  <body>
    <div class="form-group">
      <form action="{{ url_for('results') }}" method="post" role="form" enctype="multipart/form-data">
        <div class="col-lg-4">
          <textarea class="form-control" name="strings" rows="10"> </textarea> 
          </br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </body>

</html>